@import url("style.css");
@media screen and (max-width: 500px) {
    #logo{
        width: calc(var(--logo_splash_width) * 0.5);
        margin-left: calc(50% - (var(--logo_splash_width)* 0.5)/2);
    }

    .content{
        margin:0 calc(var(--content_container_margin) * 0.5);
      }

      #global_container{
        margin: 1em calc(var(--global_container_margin_x) * 0.5);
        margin-bottom: 4em;
        min-height: calc(100vh - calc(var(--global_container_margin_y) * 0.5)*2);
      }
}

@media screen and (max-width:600px){
    #logo.display{
        margin-left: 0;
    }

    #menu.display{
        display : inline-flex;
        float: unset;
        width:100%;
        margin-right: 0;
        margin-bottom: 0px;
        text-align: center;
    }

    #menu li {
        width:25%;
    }

    #menu li a{
        margin: 0;
    }
}


@media screen and (max-width:1100px){

    #menu li a{
        margin-left: 6.66vw;
    }
}