@import url("style.css");
@media screen and (max-width:378px){
    #name_title{
        font-size: 0.75em !important;
        width:210px !important;
    }
}

@media screen and (max-width:386px){
    .horizontal_list li{
        margin : 0.5em 0.5em;
    }
}

@media screen and (max-width:420px){
    #menu li .display{
        font-size: 1.1em;
    }

    #name_title{
        font-size: 0.9em;
        width:240px;
    }
}
    

@media screen and (max-width: 500px) {
    #logo{
        width: calc(var(--logo_splash_width) * 0.5);
        margin-left: calc(50% - (var(--logo_splash_width)* 0.5)/2);
    }

    .content{
        margin:0 calc(var(--content_container_margin) * 0.5);
      }

      #global_container{
        margin: 1em calc(var(--global_container_margin_x) * 0.5);
        margin-bottom: 4em;
        min-height: calc(100vh - calc(var(--global_container_margin_y) * 0.5)*2);
      }
}

@media screen and (max-width:700px){
    #logo.display{
        margin-left: 0;
    }

    #menu.display{
        width:100%;
        margin-right: 0;
        text-align: center;
        font-size:0.9em;
    }

    #menu li {
        width:25%;
    }

    #menu li a{
        margin-left: 0px;
    }
}

@media screen and (max-width:932px){
    .horizontal_list li{
        margin:1em 3%;
      }
}

@media screen and (min-width:800px) and (max-width:1100px){

    #menu li a{
        margin-left: 6.66vw;
    }
}